/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Colors */
  --pink: #ff0066;
  --lightpink: #ff80b3;
  --blue: #0000ff;
  --lightblue: #9999ff;
}
